<!DOCTYPE html>
<html>

<body style="text-align:center;">

    <h2>Register</h2>

    <form action="" method="POST">
        Username:<br>
        <input type="text" name="username" value="">
        <br>
        Email:<br>
        <input type="email" name="email" value="">
        <br>
        Password:<br>
        <input type="password" name="password" value="">
        <br><br>
        <input type="submit" value="Submit">
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p><br>
            {% endfor %}
        {% endif %}
    {% endwith %}


</body>

</html>